In [38]:
import configparser
import psycopg2
from sql_queries import copy_table_queries, insert_table_queries

In [39]:
config = configparser.ConfigParser()
config.read('dwh.cfg')
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("CLUSTER","DB_NAME")
DWH_DB_USER            = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT               = config.get("CLUSTER","DB_PORT")
DWH_ENDPOINT = config.get("CLUSTER","HOST")

In [40]:
import os
%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://khoipham:Abcd!234@dwhcluster.cdzfdhrq1pru.us-west-2.redshift.amazonaws.com:5439/sparkify

'Connected: khoipham@sparkify'

In [41]:
%sql SELECT * FROM staging_songs LIMIT 5

 * postgresql://khoipham:***@dwhcluster.cdzfdhrq1pru.us-west-2.redshift.amazonaws.com:5439/sparkify
5 rows affected.

[(1, 'AR1LOGZ1187B990FB4', None, None, 'Boston, MA', 'Mike Stern', 'SOWBWRV12A6D4FB3D0', 'I Know You', Decimal('307'), 0),
 (1, 'ARS1OWB1187B99EEAD', None, None, 'New York, NY', 'The New York Dolls', 'SOGKIWV12A6D4F86C4', 'Human Being', Decimal('344'), 1974),
 (1, 'ARTDQRC1187FB4EFD4', None, None, 'Los Angeles, CA', 'Black Eyed Peas', 'SOCHRXB12A8AE48069', "Let's Get It Started", Decimal('229'), 2004),
 (1, 'ARBTDXS11E2835CEC6', None, None, '', 'The Alternate Routes', 'SOREAWH12AB017BF03', "Ain't No Secret", Decimal('209'), 2009),
 (1, 'ARU1MVY1187FB37B73', None, None, 'Jelgava, Latvia', 'Brainstorm', 'SONWTWU12A8C133E0A', 'Dying Outside', Decimal('248'), 0)]

In [42]:
%sql SELECT * FROM songplays LIMIT 5

 * postgresql://khoipham:***@dwhcluster.cdzfdhrq1pru.us-west-2.redshift.amazonaws.com:5439/sparkify
5 rows affected.

[(1434, datetime.datetime(2018, 11, 1, 21, 28, 54), 8, 'free', 'SOZWNXJ12AC960A3AC', 'ARH39ZK1187B9ABC22', 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (665, datetime.datetime(2018, 11, 1, 21, 28, 54), 8, 'free', 'SOQDTFZ12AF729DAD8', 'ARH39ZK1187B9ABC22', 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (6666, datetime.datetime(2018, 11, 2, 5, 15, 41), 17, 'free', 'SOODJPE12AB01815F8', 'ARRH63Y1187FB47783', 118, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (7167, datetime.datetime(2018, 11, 2, 5, 15, 41), 17, 'free', 'SOJMUAN12AB0183911', 'ARRH63Y1187FB47783', 118, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (8822, datetime.datetime(2018, 11, 2, 5, 15, 41), 17, 'free', 'SOLAWQF12A58A7B176', 'ARRH63Y1187FB47783', 118, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [43]:
%sql SELECT * FROM time LIMIT 2

 * postgresql://khoipham:***@dwhcluster.cdzfdhrq1pru.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[(datetime.datetime(2018, 11, 1, 22, 23, 14), 22, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 2, 9, 16, 16), 9, 2, 44, 11, 2018, 5)]